
body{
    background-color: black;
}
header{ 
    margin:10px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    text-align: center;
    background-color: black;
    cursor: pointer;
    color: red;
    
}
nav li{
    display: inline-block;
    margin: 15px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.Image{
  background-image:url("netflix.jpg");  
  border: 1px solid black;
  margin:10px;
  height: 90%;
  background-size:cover;

}
.text{
    color: white;
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-left: 30;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.text1{
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text1 button {
    padding: 10px 25px;
    color: #bb51e7;
    background-color:#ec197d;
    font-family:serif;
    font-weight: bold;
    font-size:50;
    cursor: pointer;
}

.box{
    display: inline-block;
    cursor: pointer;
    
    width: 500px;
    height: 500px;
    margin: 10px;
    margin-left: 10%;
    background-image: url("bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.box1{
    display: inline-block;
    cursor: pointer;
    
    width: 500px;
    height: 500px;
    margin-left: 5%;
    background-image: url("bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.box3{
    display:inline-block;
    cursor: pointer;
    
    margin: 10px;
    width: 700px;
    height: 600px;
    margin-left: 10%;
    margin-top: 10%;  
    background-image: url("bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.box4{
    cursor: pointer;
    
    margin: 10px;
    margin-top: -10%;
    margin-left: 60%;
    margin-right: 5%;
    height: 40%;
    background-image: url("bg4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    
}

.box5{
    display:inline-block;
    cursor: pointer;
    
    margin: 10px;
    width: 700px;
    height: 900px;
    margin-left: 50%;
    margin-top: 10%;  
    background-image: url("bg5.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.box6{
    cursor: pointer;
    
    margin: 10px;
    margin-top: -10%;
    margin-left: 10%;
    margin-right: 65%;
    height: 70%;
    background-image: url("bg6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.box7{
    display:inline-block;
    cursor: pointer;
    
    margin: 10px;
    width: 700px;
    height: 800px;
    margin-left: 10%;
    margin-top: 10%; 
    background-image: url("bg7.jpg");
    background-size: contain;
    background-repeat: no-repeat; 
}

.box8{
    cursor: pointer;
    
    margin: 10px;
    margin-top: -10%;
    margin-left: 60%;
    margin-right: 5%;
    height: 60%;
    background-image: url("bg8.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.but{
    padding: 10px 25px;
    color: #bb51e7;
    font-family:'Baskerville Old Face';
    font-size:large;
    cursor: pointer;
}

.button button{
    padding: 10px 15px;
    margin-left:45%;
    background-color: cadetblue;
}

.block{
    display: block;
    border: 1px solid black;
    width: 99%;
    height: 40%;
    margin: 10px;
    background-image: url("bg10.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

}

.block nav ul{
    color: white;
    font-size: 50;
    margin-top: 5%;
    cursor: pointer;

}

.block1{
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    width: 99%;
    height: 40%;
    background-color: rgba(80, 19, 186, 0.666);
    font-family:Arial, Helvetica, sans-serif
    
}

.block1 h1{
    cursor: pointer;
    
    color: white;
    margin: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.block1 nav ul{
    color: white;
    font-size: 30;
    margin-top: 5%;   
}



        